@model IMDB_Ratings.Models.Movie

@{
    ViewBag.Title = "Movie Details";
}

<h2>Movie Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_critic_for_reviews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_critic_for_reviews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.director_facebook_likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.director_facebook_likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actor_3_facebook_likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actor_3_facebook_likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actor_2_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actor_2_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actor_1_facebook_likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actor_1_facebook_likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gross)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gross)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actor_1_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actor_1_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_voted_users)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_voted_users)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cast_total_facebook_likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cast_total_facebook_likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actor_3_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actor_3_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facenumber_in_poster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facenumber_in_poster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plot_keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plot_keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie_imdb_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie_imdb_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_user_for_reviews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_user_for_reviews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actor_2_facebook_likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actor_2_facebook_likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imdb_score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imdb_score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aspect_ratio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aspect_ratio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie_facebook_likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie_facebook_likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director.Director_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.Director_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
